CBRemoteControl.Server/Service References/ServerService/ServerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IServerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerService_GetCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommand" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_PutScreen_InputMessage">
    <wsdl:part name="parameters" element="tns:PutScreen" />
  </wsdl:message>
  <wsdl:message name="IServerService_PutScreen_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutScreenResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_HeartBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeat" />
  </wsdl:message>
  <wsdl:message name="IServerService_HeartBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeatResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerService">
    <wsdl:operation name="GetCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetCommand" message="tns:IServerService_GetCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetCommandResponse" message="tns:IServerService_GetCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutScreen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/PutScreen" message="tns:IServerService_PutScreen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/PutScreenResponse" message="tns:IServerService_PutScreen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HeartBeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/HeartBeat" message="tns:IServerService_HeartBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/HeartBeatResponse" message="tns:IServerService_HeartBeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerService" type="tns:IServerService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IServerService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommand">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutScreen">
      <soap:operation soapAction="http://tempuri.org/IServerService/PutScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HeartBeat">
      <soap:operation soapAction="http://tempuri.org/IServerService/HeartBeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="BasicHttpBinding_IServerService" binding="tns:BasicHttpBinding_IServerService">
      <soap:address location="http://localhost/ServerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>