CBRemoteControl.Server/Service References/ServerService/ServerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ServerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" />
  <xs:element name="GetCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="clientInfo" nillable="true" type="q1:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="GetCommandResult" type="q2:Command" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="sp" nillable="true" type="q3:ScreenPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutScreenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="clientInfo" nillable="true" type="q4:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HeartBeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>