CBRemoteControl.WinFormClient/Service References/ClientService/ClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" />
  <xs:element name="PutCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="clientInfo" nillable="true" type="q1:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="PutCommandResult" type="q2:Command" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="GetScreenResult" nillable="true" type="q3:ScreenPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" minOccurs="0" name="GetServerListResult" nillable="true" type="q4:ArrayOfServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCacheCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>