CBRemoteControl.WinFormClient/Service References/ClientService/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IClientService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CBRemoteControl.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_PutCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:PutCommand" />
  </wsdl:message>
  <wsdl:message name="IClientService_PutCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScreen" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetServerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerList" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetServerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerListResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCacheCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheCount" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCacheCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="PutCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/PutCommand" message="tns:IClientService_PutCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/PutCommandResponse" message="tns:IClientService_PutCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScreen">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetScreen" message="tns:IClientService_GetScreen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetScreenResponse" message="tns:IClientService_GetScreen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetServerList" message="tns:IClientService_GetServerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetServerListResponse" message="tns:IClientService_GetServerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetCacheCount" message="tns:IClientService_GetCacheCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetCacheCountResponse" message="tns:IClientService_GetCacheCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IClientService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutCommand">
      <soap:operation soapAction="http://tempuri.org/IClientService/PutCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScreen">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerList">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetServerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheCount">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetCacheCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>